<script>
  $(function() {
    $('.drag').draggable({
      revert: "invalid"
    });
    $('.drag a').bind('click', function(e){
        e.preventDefault();
    });

    $('.drop').droppable({
      drop: function(event, ui){
        var desiredUrl = $(ui.draggable.context.innerHTML).attr("href");
        var x = $(this).data('square-x');
        var y = $(this).data('square-y');
        console.log(x, y);
        var piece = { piece: {
          horizontal_position: x,
          vertical_position: y
        } };
        var type = $(ui.draggable.context.outerHTML).attr("data-piece-type");
        console.log(type);
        $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
        $.ajax({
          type: 'PUT',
          url: desiredUrl,
          data: piece,
          dataType: 'json'
        }).done(function(data){
          if (data.horizontal_position !== x || data.vertical_position !== y) {
            alert("Illegal move. Try again.");
            window.location.reload();
          }
          else if (type == 'Pawn' && (data.vertical_position == 8)) {
            $('#myModal').modal('show');
          }
          else if (type == 'Pawn' && (data.vertical_position == 1)) {
            document.getElementById("q").src = q.src.replace("white", "black");
            document.getElementById("k").src = k.src.replace("white", "black");
            document.getElementById("r").src = r.src.replace("white", "black");
            document.getElementById("b").src = b.src.replace("white", "black");                        
            $('#myModal').modal('show');
          }
          else {
            window.location.reload();
          }
        });
      }
    });
  });
</script>

<div class="board">
  <% board = Array.new(8) %>
  <% board.map! {Array(1..8)}%>
  <% board.each_with_index do |row, index| %>
    <div class="row">
      <% row.each do |x| %>
        <% y = index + 1 %>
        <div class='drop' data-square-x=<%= x %> data-square-y=<%= y %>>
          <% y = index + 1 %>
          <% location = locate_piece(x, y) %>
          <% if !location.nil? %>
            <div class='drag' data-piece-type=<%= location.type %>>
              <%= link_to render_piece(x, y), piece_path(location) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="modal fade" id='myModal' role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Promote Your Pawn</h4>
      </div>
      <form action="#">
        <div class="promo-selection-container">
          <div class="checkboxgroup">
            <label for="Queen.png" class="radio-label">
              <img src="/assets/whiteQueen.png" id="q" class="piece-image">
              <br />
              Queen
            </label>
            <input class="radio-input" type="radio" name="p_type" value="Queen" checked="checked">
          </div>
          <div class="checkboxgroup">
            <label for="Knight.png" class="radio-label">
              <img src="/assets/whiteKnight.png" class="piece-image" id="k">
              <br />
              Knight
            </label>
            <input class="radio-input" type="radio" name="p_type" value="Knight">
          </div>
          <div class="checkboxgroup">
            <label for="Rook.png" class="radio-label">
              <img src="/assets/whiteRook.png" class="piece-image" id="r">
              <br />
              Rook
            </label>
            <input class="radio-input" type="radio" name="p_type" value="Rook">
          </div>
          <div class="checkboxgroup">
            <label for="Bishop" class="radio-label">
              <img src="/assets/whiteBishop.png" class="piece-image" id="b">
              <br />
              Bishop
            </label>
            <input class="radio-input" type="radio" name="p_type" value="Bishop">
          </div>
          <br />
          <br />
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
      <br />
      </div>
    </div>
  </div>
</div>
<br />
