<div class="board">
  <% board = Array.new(8) %>
  <% board.map! {Array(1..8)}%>
  <% board.each_with_index do |row, index| %>
    <div class="row">
      <% row.each do |x| %>
        <% y = index + 1 %>
        <div>
          <% location = locate_piece(x, y) %>
          <% if !location.nil? %>
            <%= link_to render_piece(x, y), piece_path(location) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
